<ion-content #content [scrollEvents]="true" (ionScroll)="logScrolling($event)">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="content">
    <div class="card" *ngFor="let item of list;">
      <app-list-item [item]="item" [loading]="loading"></app-list-item>
    </div>
  </div>

  <div class="uncontent" *ngIf="!list.length">
    <p *ngIf="!loading">Запрашиваемый Вами товар не найден</p>
    <ion-spinner *ngIf="loading && list.length" name="lines"></ion-spinner>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Загрузка">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>

<app-move-top [style.display]="display" (click)="content.scrollToTop()"></app-move-top>