@import "../../../theme/variables";

.button_back {
  margin: 5% 0 5% 12%;
}

.form_button {
  margin-top: 30px;
}

ion-select {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}

ion-toolbar {
}
