@import '../../../../theme/variables.scss';

//ion-header {
//  ion-toolbar {
//    ion-buttons {
//      height: 25px;
//      img {
//        height: 25px;
//      }
//    }
//  }
//}

ion-content {
    .card {
        height: 22%;
        width: 95%;
        margin: 20px auto;
        border-radius: 5px;
        background-size: cover;
        position: relative;

        p {
            font: {
                size: 30px;
                family: $app-fonts;
                weight: 500
            }

            color: #fff;
            margin: 0;
            position: absolute;
            bottom: 22%;
            left: 9%;
        }

        // &:nth-child(1) {
        //   background: {
        //     image: url(../../../../assets/img/vinil.png);
        //   }
        //   margin: 10px auto;
        // }
        // &:nth-child(2) {
        //   background: {
        //     image: url(../../../../assets/img/Guard.png);
        //   }
        // }
        // &:nth-child(3) {
        //   background: {
        //     image: url(../../../../assets/img/training.png);
        //   }
        // }
        // &:nth-child(4) {
        //   background: {
        //     image: url(../../../../assets/img/detale.png);
        //   }
        // }
        // &:nth-child(5) {
        //   background: {
        //     image: url(../../../../assets/img/equipt.png);
        //   }
        // }
    }
}