<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="news">
      <ion-icon name="paper"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-badge style="padding: 4px;" color="danger" [ngStyle]="{'display': count ? 'block' : 'none'}">{{count}}
      </ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge *ngIf="countMessage" style="padding: 4px;" color="danger">{{countMessage}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>