<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="app/tabs/menu">
      </ion-back-button>
    </ion-buttons>

    <ion-title text-center>О нас</ion-title>

    <!-- <ion-buttons slot="end"  (click)="openCart()">
            <img src="assets/img/icons8_Shopping_Bag_100px.png" alt="">
        </ion-buttons> -->

  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="content">

    <h2>{{title}}</h2>
    <div id="content_div"></div>
    <!-- <p>{{text}}</p> -->
  </div>


</ion-content>